@tailwind base;
@tailwind components;
@tailwind utilities;



/* Hide the scrollbar but keep the scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


